<mat-toolbar color="primary" class="navbar">
  <div class="navbar-brand">
    <span class="brand-text">{{ dev_name }}</span>
  </div>
  
  <div class="navbar-links">
    <button mat-button (click)="scrollToSection('home')">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button (click)="scrollToSection('about')">
      <mat-icon>person</mat-icon>
      About me
    </button>
    <button mat-button (click)="scrollToSection('experience')">
      <mat-icon>work</mat-icon>
      Experience
    </button>
    <button mat-button (click)="scrollToSection('skills')">
      <mat-icon>code</mat-icon>
      Skills
    </button>
    <button mat-button (click)="scrollToSection('projects')">
      <mat-icon>folder</mat-icon>
      Projects
    </button>
    <button mat-button (click)="scrollToSection('contact')">
      <mat-icon>contact_mail</mat-icon>
      Contact
    </button>
  </div>

  <div class="navbar-actions">
    <button mat-raised-button color="accent" (click)="scrollToSection('contact')">
      <mat-icon>contact_mail</mat-icon>
      Get in Touch
    </button>
  </div>
</mat-toolbar>
