.main {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  text-align: center; /* Alinea el texto al centro */
}

.content {
  width: 100%;
  max-width: 700px; /* Limita el ancho del contenido */
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
  margin-top: 1.5rem; /* Espacio entre el h1 y el p */
  display: block; /* Asegúrate de que el párrafo sea un bloque */
  width: 100%; /* Ocupa todo el ancho disponible */
}